
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #05e1d6;
    --secondary-color: #000000;
    --accent1-color: #ADD8E6;
    --accent2-color: #6adbed;

    --heading-font: 'Oswald';
    --paragraph-font: 'Oxygen';

    --nav-background-color: #8ea4bc;
    --nav-link-color: #565577;
    --nav-hover-link-color: #18d0ca;
    --nav-hover-background-color: #9A8C98;
}


header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #2e8cbf;
  max-width: 1000px;
}

header img {
  margin: 1rem;
  width: 100px;
  height: auto;
}

header{
  background-color: var(--accent2-color);
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
}
nav {
  text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(227, 6, 6);
    font-weight: 700;
    text-decoration: underline;
}

body {
    max-width: 840px;
    margin: 0 auto;
    font-size: 16px;
}

.index {
    background-image: url("images/back2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




p {
    padding: 25px;
}


.hero {
    position: relative;
    width: 100%;
    height: auto;
  }
  
 .hero h1 {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 20%;
    font-family: var(--heading-font);
    font-size: 25px;
    color: var(--primary-color);
    text-align: center;
  }

  hero img {
    display: block;
    height: auto;
  }
  .img {
    width: 100%;
  }

   article {
    position: absolute;
    top: 40%;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 120px;
    background-color: rgba(123, 123, 194, 0.363);
    font-size: 15px;
  }
  article img {
    float: right;
    width: 20%;
  }

  
  .history {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background-color: var(--nav-hover-background-color);
    margin-bottom: 10px;
  }
  
  .history h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .history {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .history-item {
    display: flex;
    grid-template-columns: 1fr 20% 1fr;
    gap: 10px;
  }
  
  .history-item p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .history-item img {
    max-width: 100%;
    max-height: 220px;
    display: block;
    margin: auto;
    padding: 8px;
  }


figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 120px;
    margin: auto;
}

figure img {
    max-width: 120px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.grid-container {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}

.grid-imgs {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border: 1px solid black;
}

footer p {
  flex: 1;
  margin: 0;
}

.sociallinks {
  display: flex;
  gap: 10px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: auto;
}