
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}
:root {
    --primary-color: #05e1d6;
    --secondary-color: #000000;
    --accent1-color: #ADD8E6;
    --accent2-color: #6adbed;

    --heading-font: 'Oswald';
    --paragraph-font: 'Oxygen';

    --nav-background-color: #8ea4bc;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #18d0ca;
    --nav-hover-background-color: #657df7;
}


header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #2e8cbf;
  max-width: 1000px;
  background-color: var(--accent2-color);
}

header img {
  margin: 1rem;
  width: 100px;
  height: auto;
}

h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--heading-font);
  color: var(--nav-hover-link-color);
  text-align: center;
  font-size: 40px;
}

nav {
  text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
}

.navigation a:hover {
    color: rgb(227, 6, 6);
    font-weight: 700;
    text-decoration: underline;
}


p {
    padding: 25px;
}


.hero {
    position: relative;
    width: 100%;
    height: auto;
  }
  
 .hero h1 {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 20%;
    font-family: var(--heading-font);
    font-size: 60px;
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
  }

  hero img {
    display: block;
    height: auto;
  }
  .img {
    width: 100%;
  }

   article {
    position: absolute;
    top: 40%;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 120px;
    background-color: rgba(123, 123, 194, 0.363);
    font-size: 15px;
  }
  article img {
    float: right;
    width: 20%;
  }

  
  .history {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: var(--nav-hover-);
    margin-bottom: 10px;
  }
  
  .history h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .history-item {
    display: flex;
    grid-template-columns: 1fr 20% 1fr;
    gap: 10px;
  }
  
  .history-item p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .history-item img {
    max-width: 100%;
    max-height: 220px;
    display: block;
    margin: auto;
    padding: 8px;
  }
  .adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .adventures h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }


figure {
  flex: 1;
  text-align: center;
  margin: 0;
}

figure img {
  max-width: 100%;
  height: 100px;
  display: block;
  margin: 0 auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.grid-container {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}

.grid-imgs {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border: 1px solid black;
}

footer p {
  flex: 1;
  margin: 0;
}

.sociallinks {
  display: flex;
  gap: 10px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: auto;
}

.contactContent {
  display: grid;
  grid-template-columns: 1fr 50%;
  gap: 10px;
  text-align: left;
  line-height: 2rem;
  margin-top: 12px;
}

.contactContent h2 {
  text-align: center;
  padding: 20px;
  margin-bottom: 18px;
}

.contact-Container {
  
    max-width: 840px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 8px;
}


.contactContent label,
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 6px;
  width: 90%;
  font-weight: bold;
}

.radio-group {
  display: block;
  gap: 5px;
  align-items: center;
}


.radio-group input[type="radio"] {
  margin: 0;
  padding: 2px;
  appearance: none;
  border: 1px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.radio-group label {
  font-size: 16px;
  color: #333;
}

.radio-group input[type="radio"]:checked {
  background-color: #3498db;
}


.button {
  background-color: #000080;
  color: #fff;
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 19%;
  cursor: pointer;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}



.trips img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 300px;
}

.trips ul {
  color: rgb(0, 0, 0);
  list-style: none;
  font-size: large;
  text-align: left;
  padding: 16px;
  line-height: 1.5rem;
}

.container p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}


.container button {
  background-color: #f0fc00;
  color: #0024a6;
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 19%;
  cursor: pointer;
  }

.container a {
  text-decoration: none;
}

.indexContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indexContent p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 5px;
}

.indexContent img {
  width: 90%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 26px;
}

.indexContent button {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  font-size: var(--paragraph-font);
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  float: left;
  cursor: pointer;
}

.indexContent input {
  padding: 8px;
  margin: 2px;
}

.moto {
position: absolute;
  width: 80%;
  top: 50%;
  left: 8%;
  background-color: var(--nav-background-color);
  padding: 12px;
  opacity: 0.9;
}

.moto p, .moto2 p {
  color: #fff;
  font-family: var(--paragraph-font);
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 8px;
}

.moto img {
  float: right;
  height: 180px;
}

.moto2 {
  position: absolute;
  width: 76%;
  top: 70%;
  right: 8%;
  background-color: var(--accent2-color);
  border-radius: 24px;
  padding: 12px;
  opacity: 0.9;
}



