* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

nav {
    background-color: rgb(170, 208, 239);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: rgb(11, 67, 77);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    color: steelblue;padding-left: 18px;
    margin-bottom: 4px;
    border-bottom: 2px solid steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(208, 227, 243);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
    grid-column: 2;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #000000;
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 1;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(164, 203, 237);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

.grid {
    display: grid;
    align-items: center;
}
/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(120, 130, 152);
    padding: 1rem;
    background-color: #cbe0ea;
    color: #000000;
}

